html {
  cursor: url('../src/gay_cursor.ico'), default;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../src/gay_bg.png");
  background-size: cover;
  background-position: center;
  font-family: 'Arial', sans-serif;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
}

.mensaje {
  font-family: "Palace Script MT", cursive;
  font-size: 40px;
  line-height: 1.5;
  max-width: 800px;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 600px) {
  .mensaje {
    font-size: 24px;
  }
}

.btn-volver {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 70px;
}
